@use "partials/variables" as *;
@use "partials/mixin" as *;
@use "partials/reset" as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


*{
    color: white;
};
header{
    background-color: $main-bg-color;
};
main{
    background-color: $main-bg-color
};
.my-container{
    width: 50%;
    margin: 0 auto;
}
img{
    width: 100%;
}
.text-green{
    color: #13be13 ;
}
.debug{
    background-color: pink;
    border: 1px dashed black;
}
a{
    color: unset;
    text-decoration: unset;
}
.dotted-text{
    text-overflow:ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}
